@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,400;1,100&family=Dosis&family=M+PLUS+Code+Latin:wght@600&family=Open+Sans:wght@600;700&family=Poppins:wght@600&display=swap');
body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    /* background-color:#5f6769;/ */
}
input,option{
    background-color: transparent;
}
.container{
    background-color: white;
    margin: 0 auto;
    width: 1200px;
    padding: 40px;
}
h1{
    color: #848c96;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -8px;
}
#dis{
    color: #848c96;
    text-transform: uppercase;
    font-family: Poppins;
    text-align: left;
    margin: 1px 0;
    padding-left: 25px;
}
#input{
    width: 95%;
    height: 50px;
    padding-left: 25px;
    border: none;
    outline: none;
    font-size: 12px;
    margin-top: -10px;
    color: #848c96;
    font-family: Poppins;

}
::placeholder{
    font-weight: 400;
    color: #ececec;
}
#cate{
    margin-top: -10px;
    width: 90%;
    height: 30px;
    padding-left: 25px;
    font-family: Poppins;
    color: #848c96;
    border: none;
    outline: none;
    border-radius: none;
    background-color: #fff;
}
#cate option{
    width: 50%;
    text-transform: capitalize;
}
#cate1{
    margin: 0;
    width: 45%;
    border-right: 1px solid #848c96;
}

#sel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#dates{
    width: 45%;
}
#dat{
    width: 50%;
    height: 20px;
    margin-left: 20px;
    font-family: Poppins;
    border: none;
    outline: none;
    color: #848c96;
    margin-top: -10px;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#buttons button{
    height: 40px;
    width: 140px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.20);
    border-radius: 5px;
}
#task{
    display: flex;
    margin-left: 25px;
    margin-top: 15px;
    align-items: center;
}
#date{
    margin: 5px;
    margin-left: 70px;
    margin-bottom: 15px;
    font-family: Poppins;
    color: #b1c6d4;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}


#cato{
    position: relative;
    top: -20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 18px;
    color: white;
    width: 150px;
    height: 40px;
    float: right;
    background-color: #155263;
    border-radius: 5px;
    margin-right: 20px;
}
#task-div:hover{
    background-color: #eeeeee;
    scale: 1.01;
}


#input-div{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.20);
    padding:15px 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}
/* #top-div{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.20);
    padding:10px 10px;
    border-radius: 10px;
    padding-bottom: 50px;
} */
#task-div{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.20);
    padding:10px 10px;
    border-radius: 10px;
}
input[type="checkbox"]:checked {
    text-decoration: line-through;
}
#cate1,#dates{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.20);
    padding:10px 20px;
    border-radius: 10px;
}

#delet{
    z-index: 10;
    position: relative;
    top:-58px;
    left: 602px;
    width: 142px;
    height: 40px;
    opacity: 0;
}
